.bar img {
  margin: 1% 0 15% 0;
  height: 2rem;
}

.bar p {
  margin: 0 0 0 1vw;
}

.code-button {
  width: 100%;
  margin: 0 auto 1vw;
  padding: 5%;
  background-color: #7189aa;
  border: #7189aa 3px solid;
  border-radius: 25px;
  color: white;
  text-decoration: none
}

.code-button:hover {
  color: #7189aa;
  background-color: white;
}

.check-list {
  width: 100%;
  margin: 0 auto;
  padding: 5%;
  background-color: #7189aa;
  border-radius: 30px;
  color: white;
}

input[type="checkbox"] {
  height: 15px;
  width: 15px;
  cursor: pointer;
  appearance: none;
  border: 3px solid white;
  border-radius: 100%;
}

input[type="checkbox"]:checked {
  background-color: white;
}

.total-score {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.baseline {
  margin: 0.5rem 0;
  font-weight: bold;
}

.baseline-content {
  margin: 0.5rem 0;
}

.baseline-content input {
  margin: 0 0.5rem;
}

.homework-content {
  margin: 2% 0;
  padding: 2%;
  color: #627693;
  border:#7189aa 3px solid;
  border-radius: 10px;
}

.homework-content img {
  width: 100%;
  border-radius: 10px;
}